[ req ]
default_bits       = 2048
default_md         = sha512
default_keyfile    = vault.key
prompt             = no
encrypt_key        = no
distinguished_name = req_distinguished_name
req_extensions     = v3_req
[ req_distinguished_name ]
commonName             = "vault.dockerage.com"
emailAddress           = "admin@dockerage.com"
[ v3_req ]
keyUsage = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
IP.1 = 127.0.0.1
IP.2 = $public_ipv4
IP.3 = $private_ipv4